
<!DOCTYPE html>
<html lang="en">
    <body>
        <form method="post" action='/sub'>
1. 您的性别？<br /><br />
<label><input name="q1" type="radio" value="2" />男 </label>
<label><input name="q1" type="radio" value="1" />女 </label>
<br /><br />
2. 您的年龄？<br /><br />
<label><input name="q2" type="radio" value="5" />20-30 </label>
<label><input name="q2" type="radio" value="4" />30-40 </label>
<label><input name="q2" type="radio" value="3" />40-50 </label>
<label><input name="q2" type="radio" value="2" />50-60 </label>
<label><input name="q2" type="radio" value="1" />60+ </label>
<br /><br />
3. 您本次投资资金占家庭总资产比例(单选)<br /><br />
<label><input name="q3" type="radio" value="4" />小于5% </label>
<label><input name="q3" type="radio" value="3" />5%-10%	 </label>
<label><input name="q3" type="radio" value="2" />10%-20% </label>
<label><input name="q3" type="radio" value="1" />大于20% </label>
<br /><br />
4. 您本次投资资金占家庭可投资资产比例(单选)<br /><br />
<label><input name="q4" type="radio" value="4" />小于5% </label>
<label><input name="q4" type="radio" value="3" />5%-10% </label>
<label><input name="q4" type="radio" value="2" />10%-20% </label>
<label><input name="q4" type="radio" value="1" />大于20% </label>
<br /><br />
5. 您可以承受的最大投资亏损(单选)<br /><br />
<label><input name="q5" type="radio" value="4" />大于20% </label>
<label><input name="q5" type="radio" value="3" />10%-20% </label>
<label><input name="q5" type="radio" value="2" />5%-10% </label>
<label><input name="q5" type="radio" value="1" />小于5% </label>
<br /><br />
6. 您本次投资是为了(单选)<br /><br />
<label><input name="q6" type="radio" value="5" />投机 </label>
<label><input name="q6" type="radio" value="4" />资产增值 </label>
<label><input name="q6" type="radio" value="3" />教育储备 </label>
<label><input name="q6" type="radio" value="2" />养老储备 </label>
<label><input name="q6" type="radio" value="1" />获得比银行存款更高的收益 </label>
<br /><br />
7. 您本次投资愿意承担(单选)<br /><br />
<label><input name="q7" type="radio" value="3" />高风险高收益 </label>
<label><input name="q7" type="radio" value="2" />适中风险稳健收益 </label>
<label><input name="q7" type="radio" value="1" />低风险低收益 </label>
<br /><br />
8. 您过往投资过的产品(多选)<br /><br />
<label><input name="q8" type="checkbox" value="5" />衍生品 </label>
<label><input name="q8" type="checkbox" value="4" />股票 </label>
<label><input name="q8" type="checkbox" value="3" />债券 </label>
<label><input name="q8" type="checkbox" value="2" />保险 </label>
<label><input name="q8" type="checkbox" value="1" />银行理财 </label>
<br /><br />
9. 您投资的历史(单选)<br /><br />
<label><input name="q9" type="radio" value="4" />超过10年 </label>
<label><input name="q9" type="radio" value="3" />5-10年 </label>
<label><input name="q9" type="radio" value="2" />2-5年 </label>
<label><input name="q9" type="radio" value="1" />少于2年 </label>
<br /><br />
10. 假设股票指数在前三个月跌了25%，您持有的股票也跌了25%，接下来您会怎么做(单选)<br /><br />
<label><input name="q10" type="radio" value="4" />买入更多的股票 </label>
<label><input name="q10" type="radio" value="3" />不做任何操作 </label>
<label><input name="q10" type="radio" value="2" />卖出部分股票 </label>
<label><input name="q10" type="radio" value="1" />卖出所有股票 </label>
<br /><br />
11. 对于此次投资，您打算持有多久(单选)<br /><br />
<label><input name="q11" type="radio" value="4" />少于6个月 </label>
<label><input name="q11" type="radio" value="3" />6-12个月 </label>
<label><input name="q11" type="radio" value="2" />1-2年 </label>
<label><input name="q11" type="radio" value="1" />超过两年 </label>
<br /><br />
12. 如果有以下两个产品<br />
A: 预期年化收益率5%，几乎没有损失概率<br />
B: 预期年化收益率10%，但是有概率最大损失8%<br />
您会如何分配您的投资(单选)<br /><br />
<label><input name="q12" type="radio" value="3" />100%A 和 0%B </label>
<label><input name="q12" type="radio" value="2" />50%A 和 50%B </label>
<label><input name="q12" type="radio" value="1" />0%A 和 100%B </label>
<br /><br />
13. 您不愿意投资的基金类别:(多选)<br /><br />
<label><input name="q13" type="checkbox" value="1" />股票基金 – 综合类型 大型公司 中小型公司 行业主题 </label>
<label><input name="q13" type="checkbox" value="2" />债券基金 – 政府债券 公司债券 可转换债券 </label>
<label><input name="q13" type="checkbox" value="3" />混合型基金 – 股债混合型基金 </label>
<label><input name="q13" type="checkbox" value="4" />货币市场基金 </label>
<br /><br />
14. 您不愿意投资的地区:(多选)<br /><br />
<label><input name="q14" type="checkbox" value="1" />非洲及中东 </label>
<label><input name="q14" type="checkbox" value="2" />亚太地区 </label>
<label><input name="q14" type="checkbox" value="3" />金砖四国 </label>
<label><input name="q14" type="checkbox" value="4" />新兴市场 </label>
<label><input name="q14" type="checkbox" value="5" />欧洲 </label>
<label><input name="q14" type="checkbox" value="6" />环球 </label>
<label><input name="q14" type="checkbox" value="7" />大中华 </label>
<label><input name="q14" type="checkbox" value="8" />北美 </label>
<br /><br />

<input type="submit" value="submit">
        </form>
    </body>
</html>